<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
</head>
<body>

    <div class="advisor-static">
        <div class=" first-page">

            <div class="first-page-content col-md-9 col-lg-9 mx-auto">
                <h1 class="main-heading">
                    <span>
                        Webová aplikace<br>
                        pro odhalení vlastního <br>
                        potenciálu a nadání
                    </span>
                </h1>
                <p class="main-text col-lg-11 col-md-11 mx-auto">
                    Online webová aplikace pro odhalování silných stránek a nastavení cest budoucího směřování. Studenti a žáci mohou výsledky využít pro rozhodování o škole, či budoucím povolání.
                </p>

                <div class="d-block">
                    <a class="btn btn-primary login-button" href="../Home/Login" role="button">Přihlásit se do aplikace</a><br>
                    <a class="btn learn-more" href="#who-anchor">Získat Regio Advisor</a>
                </div>
            </div>

        </div>

        <div class="cards-row">
            Už víte o našich Rozvojových a Koučovacích kartách? Již nyní můžete objednávat na našem e-shopu! >

        </div>
        <div class="row col-md-9 col-lg-9 mx-auto objevte-nadani">
            <h2 class="objevte-nadani-heading">Objevte svá nadání a potenciál</h2>
            <span class="nadani-text ">Máte unikátní možnost otestovat a hledat vlastní potenciál (nadání) a zjištěné informace využít např. při svém budoucím směřování. V pohodlí domova, můžete přemýšlet o svých silných stránkách (nadáních, potenciálech) a hledat na základě profesionálně vedené on-line konzultace správné uplatnění např. při volbě povolání či dalších studiích. Celý koncept je postaven na teorii Gardnerovy mnohočetné inteligence. </span>
        </div>

        <div class="row col-lg-12 col-xl-10 col-md-10 mx-auto advisor-screen align-items-center">
            <div class="col-md-2 col-lg-2 nahled-text ">
                <p class="nahled-desc r text-sm-right">
                    Každý má svá nadání
                </p>
                <p class="nahled-desc r text-sm-right">
                    V oblasti kariérového
                    poradenství se inspirujeme
                    v zahraničí
                </p>
                <p class="nahled-desc r text-sm-right">
                    Online prostředí je atraktivní
                    pro současnou generaci
                </p>

            </div>
            <div class="col-md-6 col-lg-6 nahled-img">

            </div>
            <div class="col-md-2 col-lg-2 nahled-text">
                <p class="nahled-desc text-sm-left">
                    IQ neukazuje míru úspěchu
                    člověka v životě
                </p>
                <p class="nahled-desc text-sm-left">
                    Sebeevaluace je stejně
                    hodnotná, jako diagnostika
                </p>
                <p class="nahled-desc text-sm-left">
                    Pro směřování jednotlivce používáme kariérní oblasti
                </p>

            </div>
        </div>
        <h3 class="in-the-app">CO V APLIKACI NAJDETE</h3>
        <div class="row col-md-12 col-lg-12 col-xl-10 mx-auto">

            <div class="col-md-4 col-lg-4 col-sm-12 in-the-app-content">
                <div class="head-img" style="background-image: url(../../Content/Assets/Profile2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">MŮJ PROFIL</h4>
                    <span class="content-text">Vstupní zamyšlení nad sebou, které nám pomůže naladit se na sebeuvědomování svého potenciálu, nadání.</span>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 in-the-app-content">
                <div class="head-img" style="background-image: url(../../Content/Assets/talents2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">MÉ TALENTY A NADÁNÍ</h4>
                    <span class="content-text">
                        Postupně si projdete vybrané projevy nadání a hledáte ty, které jsou Vám blízké
                        a také ty, se kterými se neztotožňujete.
                    </span>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 in-the-app-content">
                <div class="head-img" style="background-image: url(../../Content/Assets/actionsteps2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">AKČNÍ KROKY</h4>
                    <span class="content-text">Zapíšete si do akčního plánu své nápady na svůj další postup, abyste nastartovali svůj posun k perspektivní budoucnosti.</span>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 in-the-app-content">
                <div class="head-img" style="background-image: url(../../Content/Assets/carrer2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">KARIÉROVÉ OBLASTI</h4>
                    <span class="content-text">Nadání, silné stránky můžeme zúročit ve své budoucí profesi. Aplikace Vám nabídne možnosti kariérových oblastí, kde budou Vaše silné stránky užitečné.</span>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 in-the-app-content">
                <div class="head-img" style="background-image: url(../../Content/Assets/funfacts2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">FUN FACTS</h4>
                    <span class="content-text">
                        Objevují se jako odměna za Vaši píli. Po vyplnění jednotlivých částí aplikace se Vám objeví. Fun facts celou aplikaci obohacují informacemi a také trochou humoru.
                    </span>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 in-the-app-content">
                <div class="head-img" style="background-image: url(../../Content/Assets/results2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">VAŠE VÝSLEDKY</h4>
                    <span class="content-text">
                        Všechny Vaše výsledky a srovnání jsou zároveň zaslány na Váš email, abyste si je mohli v klidu projít. Můžete poté v aplikaci cokoliv doplnit začít úplně od začátku.

                    </span>
                </div>
            </div>

        </div>

        <div class="row col-lg-7 col-md-7 mx-auto">
            <h2 id="who-anchor" class="target-group col">Pro studenty i jednotlivce</h2>
            <span class="general-text ">Regio Advisor je vhodný nejen pro studenty základních a středních škol, ale také pro jednotlivce, kteří chtějí objevít své silné stránky</span>
        </div>

        <div class="row equal col-lg-12 col-md-12 col-xl-10 people-description mx-auto" id="buy-package">

            <div class="col types-description">
                <div class="head-img" style="background-image: url(../../Content/Assets/singles2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">Jednotlivci</h4>
                    <p>Začnete o sobě přemýšlet v kontextu svých silných stránek</p>
                    <p>Nastavíte si profesní preference</p>
                    <p>Ujasníte si pracovní hodnoty</p>
                    <p>Nastavíte si akční plán svého budoucího rozvoje</p>
                    <p>Vše máte na jednom místě v podrobném reportu</p>
                    <br />

                </div>

                <div class="button-wrap">
                    <p style="color:#40BE65; text-align:left;">
                        * Nejsem studentem školy,<br />
                        která má licenci
                    </p>
                    <a href="#price-list-singles" class="btn outline-button animated">
                        Chci zakoupit balíček
                    </a>
                    <a href="../Home/IndividualRegister" class="btn learn-more">Mám již balíček a chci se registrovat ></a>

                </div>
            </div>

            <div class="col types-description">
                <div class="head-img" style="background-image: url(../../Content/Assets/schools2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">Pro školy (žáci / učitelé)</h4>
                    <p>Získáte přehled o silných stránkách žáků a jejich preferencích v kariérních oblastech</p>
                    <p>Můžete zaměřit výuku na rozvoj potenciálu žáků</p>
                    <p>Můžete žákům poskytovat kariérové poradenství</p>




                </div>

                <div class="button-wrap">
                    <p  class="student-school-with-licence"style="color: #40BE65; text-align: left;">
                        *Jsem student školy, která má licenci
                    </p>
                    <a href="#price-list-schools"class="btn outline-button animated btn-filled short-sides">
                        Chci zakoupit balíček
                    </a>
                    <a href="../Home/StudentRegister" class="btn learn-more">Registrace pro studenty ></a>

                </div>
            </div>

            <div class="col types-description">
                <div class="head-img" style="background-image: url(../../Content/Assets/helpers2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">Kariéroví poradci</h4>
                    <p>Získáte přehled o silných stránkách klientů a jejich preferencích v kariérních oblastech</p>
                    <p>Budete mít podklady pro individuální práci s klientem</p>
                    <br />

                </div>
                <div class="button-wrap">
                    <p class="placeholder" style="color:transparent; text-align:left;line-height: 3em;">placeholder</p>

                    <a href="mailto:regio@regio-vyzkum.cz" class="btn outline-button animated">
                        Kontaktujte nás
                    </a>
                </div>

            </div>

        </div>

    <div class="row col-lg-12 col-md-12 col-xl-10 mx-auto justify-content-center">
        <h2 class="prices w-100 text-center general-header">Dostupné varianty</h2>
        <span class="w-100 general-text text-center">
            Zvolte prosím variantu, o kterou máte zájem.
        </span>
        <div class="row col-md-12 col-lg-12 col-xl-10 type-choice justify-content-center">
            <a href="#singles-anchor"class="category-choice">
                <div class="">
                    <div style="background-image: url(../../Content/Assets/singles2x.png)" class="category-image">&nbsp;</div>
                </div>
                <div class="category-text btn">Pro jednotlivce</div>

            </a>
            <a href="#schools-anchor" class="category-choice">
                <div class="">
                    <div style="background-image: url(../../Content/Assets/schools2x.png)" class="category-image">&nbsp;</div>
                </div>
                <div class="category-text btn">Pro školy</div>

            </a>
        </div>

    </div>
        <div class="school-wrap">
            <div class="row col-lg-7 col-md-7 mx-auto">
                <h2 id="schools-anchor" class="target-group col">Regio Advisor pro školy</h2>
                <span class="general-text ">Regio Advisor je určen pro 7.,8. a 9. ročníky základních škol a 2.,3. a 4. ročníky středních škol a také pro všechny, kteří chtějí stavět svůj budoucí rozvoj na svých <strong>silných</strong> stránkách.</span>
            </div>
            <div class="row col-lg-12 col-xl-9 col-md-9 mx-auto for-schools">
                <h4 class="package-conains-header w-100">BALÍČEK PRO ŠKOLY OBSAHUJE</h4>
                <div class="col mx-2 contains-content">
                    <table class="table table-bordered ">
                        <tbody>

                            <tr>
                                <td>Určitý počet licencí v závislosti na vybraném balíčku</td>
                            </tr>
                            <tr>
                                <td>Jednotlivě pro žáky vyhodnocení sebeevaluace ve stručném reportu silných stránek a doporučených kariérních oblastí</td>
                            </tr>
                            <tr>
                                <td>
                                    Jednotlivě pro žáky vyhodnocení sebeevaluace v podrobném reportu silných stránek a doporučených kariérních oblastí dle podrobných kategorií, včetně akčního plánu svého budoucího rozvoje, výběru nadání dle vlastní intuice, žebříčku pracovních hodnot
                                </td>
                            </tr>
                            <tr>
                                <td>  Souhrnný report pro školu v podobě celkového hodnocení struktury žáků ve třídě/škole dle inteligencí v různých kombinacích</td>
                            </tr>
                            <tr>
                                <td>Rozhraní pro správu aplikace/licencí</td>
                            </tr>


                        </tbody>
                    </table>

                </div>
                <div class="col mx-2 contains-content">
                    <table class="table table-bordered ">
                        <tbody>

                            <tr>
                                <td> Přístupy do aplikace pro všechny správce (školy, tříd) nad rámec počtu licencí</td>
                            </tr>
                            <tr>
                                <td> Metodický manuál práce s Regio Advisorem</td>
                            </tr>
                            <tr>
                                <td>Možnost účastnit se školení jak s aplikací pracovat 1x ročně v Ostravě</td>
                            </tr>
                            <tr>
                                <td> Rozvojové karty jako metodické pomůcky pro kariérové poradenství - Karty inteligencí - 1 sadu</td>
                            </tr>
                            <tr>
                                <td>Rozvojové karty jako metodické pomůcky pro kariérové poradenství - Karty pracovních hodnot - 1 sadu</td>
                            </tr>
                            <tr>
                                <td> Technickou podporu

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
            @*
                Přepínátko
                            <div class="radio-wrap btn text-center w-100">
                <a class="radio-like left">Pro jednotlivce</a>
                <a class="radio-like right highlited">Pro školy</a>
            </div>
                <div class="row col-lg-12 col-md-12 mx-auto">
                <div class="flip-container" style="width:100%" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">

                        </div>
                        <div class="back">
                            <div class="row col-lg-12 col-md-12 mx-auto">
                                <h4 class="package-conains-header w-100">BALÍČEK PRO JEDNOTLIVCE OBSAHUJE</h4>

                                <div class="col mx-2 contains-content single">
                                    <table class="table table-bordered">
                                        <tbody>

                                            <tr>
                                                <td>Licenci platnou 48hodin</td>
                                            </tr>
                                            <tr>
                                                <td>2 resety účtu</td>
                                            </tr>
                                            <tr>
                                                <td>Stručný report silných stránek a doporučených kariérních oblastí pro jednotlivce </td>
                                            </tr>
                                            <tr>
                                                <td>Podrobný report silných stránek a doporučených kariérních oblastí pro jednotlivce dle podrobných kategorií</td>
                                            </tr>
                                            <tr>
                                                <td>  Výběr nadání dle vlastní intuice</td>
                                            </tr>
                                            <tr>
                                                <td>Akční plán</td>
                                            </tr>
                                            <tr>
                                                <td>Žebříček pracovních hodnot</td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                                <div class="col mx-2">
                                    <h1> </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@




            <div class="row col-md-8 col-lg-8 mx-auto justify-content-center text-center">
                <h3 class="licences-amount text-center">KOLIK LICENCÍ PRO VAŠI ŠKOLU POTŘEBUJETE?</h3>
                <span class="basic-text ">
                    Balíčky nelze kombinovat, výsledný report za školu z různých balíčků by nebylo možné propojit a výsledky tak porovnávat. Proto důkladně zvažte množství licencí, které plánujete zakoupit.
                </span>
            </div>
            <div id="price-list-schools" class="price-list col-lg-12 col-xl-10 col-md-10 row mx-auto">

                <div class="col-sm-12 col-lg-3 single-price-card">
                    <div class="wrapper">
                        <div class="price-card-header-wrap">
                            <h5 class="price-card-header">RA BALÍČEK MINI</h5>
                        </div>
                        <div class="price-card-wrapper">
                            <p class="price-card-number"> 7 000 Kč</p>
                            <p class="price-card-school-year"> školní rok</p>

                        </div>

                        <p class="price-card-licences"> 90 licencí do 31.8. 2019</p>
                        <p class="basic-text price-card-resets">neomezený počet resetů</p>
                        <a href="#" class="price-card-button btn">Již brzy v prodeji</a>

                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 single-price-card">
                    <div class="wrapper">

                        <p class="best-seller">Nejprodávanější</p>
                        <div style="border-radius:0" class="price-card-header-wrap">
                            <h5 class="price-card-header">RA BALÍČEK MEDIUM</h5>
                        </div>
                        <div class="price-card-wrapper">
                            <p class="price-card-number"> 10 000 Kč</p>
                            <p class="price-card-school-year"> školní rok</p>

                        </div>

                        <p class="price-card-licences">150 licencí do 31.8. 2019</p>
                        <p class="basic-text price-card-resets">neomezený počet resetů</p>
                        <a href="#" class="price-card-button btn">Již brzy v prodeji</a>

                    </div>
                </div>
                <div class=" col-sm-12 col-lg-3 single-price-card">
                    <div class="wrapper">

                        <div class="price-card-header-wrap">
                            <h5 class="price-card-header">RA BALÍČEK LARGE</h5>
                        </div>
                        <div class="price-card-wrapper">
                            <p class="price-card-number"> 15 800 Kč</p>
                            <p class="price-card-school-year"> školní rok</p>

                        </div>

                        <p class="price-card-licences"> 300 licencí do 31.8. 2019</p>
                        <p class="basic-text price-card-resets">neomezený počet resetů</p>
                        <a href="#" class="price-card-button btn">Již brzy v prodeji</a>

                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 single-price-card">
                    <div class="wrapper">
                        <div class="price-card-header-wrap">
                            <h5 class="price-card-header">RA BALÍČEK EXTRA LARGE</h5>
                        </div>
                        <div class="price-card-wrapper">
                            <p class="price-card-number">23 000 Kč</p>
                            <p class="price-card-school-year"> školní rok</p>

                        </div>

                        <p class="price-card-licences"> 500 licencí do 31.8. 2019</p>
                        <p class="basic-text price-card-resets">neomezený počet resetů</p>
                        <a href="#" class="price-card-button btn">Již brzy v prodeji</a>

                    </div>
                </div>

                <span class="basic-text" style="padding-left:20px"> V případě zájmu o nákup balíčku pro příští rok již nyní nás prosím kontaktujte na <a href="mailto:regioadvisor@regio-vyzkum.cz">regioadvisor@regio-vyzkum.cz</a>.</span>
                <span class="basic-text" style="padding-left:20px">Chcete do aplikace Regio Advisor nahlédnout a vyzkoušet si, jak funguje? Kontaktujte nás na:<a href="mailto:regioadvisor@regio-vyzkum.cz">regioadvisor@regio-vyzkum.cz</a>.</span>

            </div>
            <div style="display:none" class="row col-lg-12 col-md-12 col-xl-10 ostrava-free mx-auto">
                <div class="d-inline-block">
                    <span class="for-ostrava">
                        Akce pro Ostravské školy
                    </span>
                    <h2 class="ostrava-package">RA BALÍČEK ZDARMA!</h2>
                    <h3 class="unlimited-licences">Balíček obsahuje neomezený počet licencí.</h3>
                    <h4 class="not-included">* V tomto balíčku nejsou zahrnuty <a href="#" class="cards">karty inteligencí</a> ani <a href="#" class="cards"> karty pracovních hodnot</a></h4>
                    <a class="btn fill-button limited-offer">Chci využít limitovanou nabídku</a>
                </div>
            </div>
            <div class="row col-lg-12 col-md-12 col-xl-10 mx-auto justify-content-center text-center">
                <div class="row col-lg-12 col-md-12">
                    <h2 class="general-header w-100 mb-0">Jak to funguje</h2>
                </div>
                <div class="col-lg-4 col-md-4"><div class="steps mx-auto">1</div><div class="steps-text">Zakupte si balíček <a class="" href="#">zde</a></div></div>
                <div class="col-lg-4 col-md-4"><div class="steps mx-auto">2</div><div class="steps-text">Bude Vám vygenerován licenční klíč </div></div>
                <div class="col-lg-4 col-md-4"><div class="steps mx-auto">3</div><div class="steps-text">Studenti se přihlásí každý pod svým účtem </div></div>
            </div>
            <div class="row col-lg-12 col-md-12 col.col-xl-10  text-center mx-auto">
                <h3 class="medium-heading mb-4 w-100">CO SE DĚJE DÁLE?</h3>
                <div class="row col-md-12 col-lg-12 col-xl-10 mx-auto">
                    <span class="whats-next">Studetni si individuálně vyplní aplikaci. V průběhu aplikace jsou jim kladeny otázky, které je vedou k sebehodnocení a uvědomění si, co je v životě baví a co nikoli, čemu by se chtěli věnovat a čemu naopak ne. Aplikace poté vyhodnotí jejich odpovědi a nabídne jim oblasti, ve kterých by se mohli uplatnit. Regio Advisor není psychodiagnostický test, ale přístup vlastního sebehodnocení, který má velmi dobrou vypovídací schopnost.</span>
                </div>
                <div class="row col-lg-12 col-md-12 col-xl-10  text-center mx-auto">
                    <div class="panel-group text-left w-100" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading" data-target="#Collapseone" data-toggle="collapse" data-parent="#accordion">
                                <h4 class="panel-title">
                                    <a href="#.">
                                        <span class="fa fa-plus"></span>
                                        Jaké jsou výhody?
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse in" id="Collapseone">
                                <div class="panel-body">
                                    <p class="basic-text">Výhodou je, že si žáci uvědomí vlastní potenciál a nadání a nastaví si vlastní cestu za rozvojem. Žáci si velmi často neuvědomují své silné stránky, své nadání a talenty a mnohdy nevhodně volí směr svého dalšího působení založený pouze na vlastní nevědomosti. Pomocí Regio Advisoru si žáci utřídí myšlenky, pochopí, v čem vynikají a na čem můžou stavět.</p>
                                    <p class="basic-text">
                                    Škola získá přehled o silných stránkách žáků a jejich preferencích v kariérních oblastech. Bude moci využít výsledky aplikace pro poskytování kariérového poradenství žákům. Učitelé budou mít možnost zaměřit svou výuku na rozvoj potenciálu žáků.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-target="#Collapsetwo" data-toggle="collapse" data-parent="#accordion">
                                <h4 class="panel-title">
                                    <a href="#.">
                                        <span class="fa fa-plus"></span>
                                        Co potřebuji?
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="Collapsetwo">
                                <div class="panel-body">
                                    <p class="basic-text">
                                        K samotnému vyplnění aplikace potřebujete počítač, notebook, chytrý telefon nebo tablet, zkrátka zařízení, které je připojeno k internetu.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-target="#Collapsethree" data-toggle="collapse" data-parent="#accordion">
                                <h4 class="panel-title">
                                    <a href="#.">
                                        <span class="fa fa-plus"></span>
                                        Časté dotazy?
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="Collapsethree">
                                <div class="panel-body">
                                    <div class="basic-text">
                                        <h4 class="faq-text">JSME ŠKOLA. JAK MŮŽEME ZAJISTIT REGIO ADVISOR DO NAŠÍ VÝUKY? CO JE PRO TO NUTNÉ UDĚLAT?</h4>

                                        <p class="basic-text"> Vyberete si balíček s počtem licencí, který je pro Vás vhodný (dle počtu Vašich žáků v posledních ročnících). Po zakoupení Vám pošleme e-mail s licenčním kódem a potřebnými instrukcemi. Dále pak postupujete dle pokynů registrací školy a žáků. Pak už můžete aplikaci používat. </p>

                                        <h4 class="faq-text">PRO KOHO JE REGIO ADVISOR URČEN?</h4>

                                        <p class="basic-text"> Aplikace je vhodná zejména pro žáky 7., 8. a 9. ročníků základních škol a studenty 2., 3. a 4. ročníků středních škol. Na základě vlastního sebehodnocení si žáci utřídí myšlenky a aplikace jim pomůže nasměrovat je v jejich budoucím rozvoji. Regio Advisor je vhodný také pro lidi, kteří již svůj směr mají určený a z nějakého důvodu uvažují o změně. Tudíž by se dalo říci, že si aplikaci může projít kdokoli. Je to nástroj vlastního rozvoje a sebepoznání. Aplikace není konkurencí psychologů, kariérových a výchovných poradců, ale naopak práci těmto odborníkům usnadňuje, zpřehledňuje a urychluje.</p>

                                        <h4 class="faq-text">KDYŽ SE REGISTRUJI, MŮŽU SE POTÉ VRACET KE SVÝM VÝSLEDKŮM NEBO SI REGIO ADVISOREM PROJÍT ZNOVU?</h4>

                                        <p class="basic-text">Ano. Po registraci se můžete do Regio Advisoru po dobu platnosti licence přihlásit a uvidíte své výsledky. Můžete si také současné výsledky smazat a zkusit si aplikací projít znovu. <span style="background:yellow">Může být zajímavé udělat si aplikaci i po čase a sledovat, jak se mění naše uvažování a sebehodnocení.</span> Licence je platná vždy do 31. 8. příslušného roku.</p>

                                        <h4 class="faq-text">KDE NAJDU LICENČNÍ KLÍČ?</h4>

                                        <p class="basic-text"> Licenční klíč Vám bude po nákupu automaticky zaslán na Váš e-mail.</p>

                                        <h4 class="faq-text">MOHOU SE KOMBINOVAT BALÍČKY S RŮZNÝM POČTEM LICENCÍ?</h4>

                                        <p class="basic-text"> Balíčky nelze kombinovat, výsledný report za školu z různých balíčků by nebylo možné propojit a výsledky tak porovnávat.</p>
                                        <h4 class="faq-text">BUDETE REGIO ADVISOR JEŠTĚ DÁLE ROZŠIŘOVAT O NOVÉ FUNKCE?</h4>

                                        <p class="basic-text"> Ano, plánujeme rozšířit Regio Advisor o další nadstavbové moduly. <a href="https://www.linkedin.com/company/regio--v%C3%BDzkumn%C3%A9-a-rozvojov%C3%A9-centrum-z-%C3%BA-/">Sledujte nás.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="singles-wrap">
            <div class="row col-lg-7 col-md-7 mx-auto justify-content-center">
                <h2 id="singles-anchor" class="target-group col">Regio Advisor pro jednotlivce</h2>
                <span class="general-text ">Balíček vhodný pro jednotlivce, kteří chtějí svůj budoucí rozvoj stavět na svých silných stránkách. </span>
            </div>
            <div class="row col-lg-12 col-xl-9 col-md-9 mx-auto for-schools">
                <h4 class="package-conains-header w-100">BALÍČEK PRO JEDNOTLIVCE OBSAHUJE</h4>
                <div class="col mx-2 contains-content">
                    <table class="table table-bordered">
                        <tbody>

                        <tr>
                            <td>1 licence platná 48 hodin od přihlášení do aplikace</td>
                        </tr>
                        <tr>
                            <td> Možnost odpovědi a výsledky 2x smazat a projít si aplikací znovu</td>
                        </tr>
                        <tr>
                            <td>Možnost vracet se ke svým odpovědím v průběhu vyplňování a odpovědi upravovat</td>
                        </tr>
                        <tr>
                            <td>Vyhodnocení sebeevaluace ve stručném reportu silných stránek a doporučených kariérních oblastí</td>
                        </tr>
                        <tr>
                            <td>   Vyhodnocení sebeevaluace v podrobném reportu silných stránek a doporučených kariérních oblastí dle podrobných kategorií, včetně akčního plánu svého budoucího rozvoje, výběru nadání dle vlastní intuice, žebříčku pracovních hodnot</td>
                        </tr>
                        <tr>
                            <td>Technickou podporu</td>
                        </tr>

                        </tbody>
                    </table>

                </div>
                <div id="price-list-singles"class="col mx-2 my-auto">
                   
                    <div style="padding:0 20px">
                        <div style="padding:0" class="col-sm-12 col-lg-7 single-price-card mx-auto">
                            <div class="wrapper">
                                <div class="price-card-header-wrap">
                                    <h5 class="price-card-header">RA BALÍČEK PRIVATE</h5>
                                </div>
                                <div class="price-card-wrapper">
                                    <p class="price-card-number"> 90 Kč</p>
                                </div>

                                <p class="price-card-licences"> 1 licence platná 48 hodin od aktivace</p>
                                <p class="basic-text price-card-resets">2 resety účtu</p>
                                <a href="#" class="price-card-button btn">Již brzy v prodeji</a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        

            <div class="row col-lg-12 col-md-12 col-xl-10 mx-auto justify-content-center text-center">
                <div class="row col-lg-12 col-md-12">
                    <h2 class="general-header w-100 mb-0">Jak to funguje</h2>
                </div>
                <div class="col-lg-4 col-md-4"><div class="steps mx-auto">1</div><div class="steps-text">Zakupte si licenci <a class="" href="#">zde</a></div></div>
                <div class="col-lg-4 col-md-4"><div class="steps mx-auto">2</div><div class="steps-text">Bude Vám vygenerován licenční klíč </div></div>
                <div class="col-lg-4 col-md-4"><div class="steps mx-auto">3</div><div class="steps-text">Zaregistrujte se pomocí svého klíče <a class="" href="../IndividualRegister">zde</a> </div></div>
            </div>
            <div class="row mb-0 col-lg-12 col-md-12 col-xl-10  text-center mx-auto">
                <h3 class="medium-heading mb-4 w-100">CO SE DĚJE DÁLE?</h3>
                <div class="row col-md-12 col-lg-12 col-xl-10 mx-auto">
                    <span class="whats-next">V průběhu aplikace Vám budou kladeny otázky, které Vás povedou k sebehodnocení a uvědomění si, co Vás v životě baví a co nikoli, čemu byste se chtěli věnovat a čemu naopak ne. Aplikace poté vyhodnotí Vaše odpovědi a nabídne Vám oblasti, ve kterých byste se mohli uplatnit. Regio Advisor není psychodiagnostický test, ale přístup vlastního sebehodnocení, který má velmi dobrou vypovídací schopnost. Celý koncept je postaven na teorii Gardnerovy mnohočetné inteligence.</span>
                </div>
                <div class="row  col-lg-12 col-md-12 col-xl-10  text-center mx-auto">
                    <div class="panel-group text-left w-100" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading" data-target="#Collapseone" data-toggle="collapse" data-parent="#accordion">
                                <h4 class="panel-title">
                                    <a href="#.">
                                        <span class="fa fa-plus"></span>
                                        Jaké jsou výhody?
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse in" id="Collapseone">
                                <div class="panel-body">
                                    <p class="basic-text">Výhodou je, že si uvědomíte vlastní potenciál a nadání a nastavíte si vlastní cestu za rozvojem. Děti si velmi často neuvědomují své silné stránky, své nadání a talenty a mnohdy nevhodně volí směr svého dalšího působení založený pouze na vlastní nevědomosti. Pomocí Regio Advisoru si utřídíte myšlenky, pochopíte, v čem vynikáte a na čem můžete stavět.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-target="#Collapsetwo" data-toggle="collapse" data-parent="#accordion">
                                <h4 class="panel-title">
                                    <a href="#.">
                                        <span class="fa fa-plus"></span>
                                        Co potřebuji?
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="Collapsetwo">
                                <div class="panel-body">
                                    <p class="basic-text">K samotnému vyplnění aplikace potřebujete počítač, notebook, chytrý telefon nebo tablet, zkrátka zařízení, které je připojeno k internetu.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-target="#Collapsethree" data-toggle="collapse" data-parent="#accordion">
                                <h4 class="panel-title">
                                    <a href="#.">
                                        <span class="fa fa-plus"></span>
                                        Časté dotazy?
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="Collapsethree">
                                <div class="panel-body">
                                    <div class="basic-text"><h4 class="faq-text">PRO KOHO JE REGIO ADVISOR URČEN?</h4>

                                                          <p class="basic-text"> Aplikace je vhodná zejména pro žáky 7., 8. a 9. ročníků základních škol a studenty 2., 3. a 4. ročníků středních škol. Regio Advisor je vhodný také pro lidi, kteří již svůj směr mají určený a z nějakého důvodu uvažují o změně. Tudíž by se dalo říci, že si aplikaci může projít kdokoli. Je to nástroj vlastního rozvoje a sebepoznání.</p>

                                                          <h4 class="faq-text">MŮŽU SE DO APLIKACE VRACET A UPRAVOVAT SVÉ ODPOVĚDI?</h4>

                                                          <p class="basic-text"> Aplikace je přístupná 48 hodin od prvního přihlášení se do aplikace. V rámci této doby lze 2x všechny odpovědi smazat a projít si aplikací znovu. V průběhu je možné se ke svým odpovědím vracet a upravovat je.</p>

                                                          <h4  class="faq-text">BUDETE REGIO ADVISOR JEŠTĚ DÁLE ROZŠIŘOVAT O NOVÉ FUNKCE?</h4>

                                        <p class="basic-text"> Ano, plánujeme rozšířit Regio Advisor o další nadstavbové moduly. <a href="https://www.linkedin.com/company/regio--v%C3%BDzkumn%C3%A9-a-rozvojov%C3%A9-centrum-z-%C3%BA-/ "target="_blank">Sledujte nás.</a></p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        $('a.radio-like').on('click', function () {
            $('.flipper').toggleClass('flipped');
            $('a.radio-like').each(function (i, e) {
                $(e).toggleClass('highlited');

            });


        });

        $('#accordion').on("hide.bs.collapse show.bs.collapse", ".collapse", function (event) {
            $(this).prev().find(".fa").toggleClass("fa-plus fa-minus");
            event.stopPropagation();
        });

        $(document).ready(function () {
            $('.flip-container').css('height', $('.contains-content.single').first().outerHeight(true));

      
        });
    </script>

</body>
</html>
